html, body, #root {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: #ffffff;
}

.app {
  min-height: 100vh;
}
